<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome page with message</title>
</head>
<body>

    <p th:text="${helloMsg}"/>

    <p th:each="elem : ${elements}" th:text="${elem}"/>

</body>
</html>